html, body, .app, #app>div, #root, .main-container {
  height: 100%;
}

.edit-container{
  height: 100%;
}

.cards-container{
  margin: auto;
  background-color: red;
  height: 25%;
  display:flex;
  margin-top: 2%;
}

.card{
  height: 100%;
  background-color: green;
  width: 20%;
  margin-right: 1%;
} 

.selected-card{
  height: 100%;
  background-color: yellow;
  width: 20%;
  margin-right: 1%;
} 

.card-back{
  height: 100%;
  background-color: brown;
  width: 20%;
  margin-right: 1%;
}

.deck-editor{
  margin: auto;
  background-color: blue;
  height: 25%;
  display:flex;
  margin-top: 2%;
}

.game-screen{
  height: 100%;
}

.enemy-container{
  height: 50%;
  text-align: center;
}

.enemy-data{
  height: 100%;
  margin: auto;
  background-color: blue;
  padding: 1%;
}

.enemy-hand{
  height: 70%;
  display: flex;
  background-color: red;
  justify-content: center;
  width: 70%;
}

.enemy-img{
  background-color: red;
  height: 40%;
  width: 30%;
  margin: auto;
}

.enemy-stats{
  background-color: green;
  height: 40%;
  width: 50%;
  margin: auto;
}

.enemy-deck{
  height: 100%;
  display: flex;
  justify-content: center;
}

.enemy-graveyard{
  height: 70%;
  width:15%;
  background-color: black;
  color: white;
}

.player-container{
  height: 25%;
  display: flex;
  background-color: red;
}

.player-stats{
  height: 80%;
  width: 10%;
  background-color: green;
  margin:auto;
}

.player-hand{
  height: 80%;
  width: 65%;
  background-color: blue;
  margin:auto;
  display: flex;
  justify-content: center;
}

.graveyard-container{
  height: 80%;
  width: 10%;
  background-color: white;
  margin:auto;
  display:flex; 
  align-items: center;
}

.graveyard{
  height: 80%;
  width:70%;
  background-color: black;
  margin:auto;
  color: white;
}