html, body, .app, #app>div, #root, .main-container {
  height: 100%;
}

html{
  background-color: rgba(50,50,100)
}

button:hover{
  background-color: slategray;
  color: whitesmoke
}

.mainMenu{
  display: flex;
  height: 100%;
  width: 100%;
}

.title-screen{
  margin: auto;
  text-align: center;
}

.title{
  color: white;
  font-variant: small-caps;
  font-size: 50px;
}

.mainMenuButton{
  font-size: 25px;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 10px;
}

.game-instructions{
  display: flex;
}

.game-instructions-text{
  color: whitesmoke;
  font-size: 20px;
  margin: auto;
}

.returnBtn{
  font-size: 15px;
  border-radius: 5px;
  margin: auto;
}

.modal{
  text-align: center;
}

.modalBtnContainer{
  display: flex;
}

.modalBtn{
  font-size: 15px;
  border-radius: 5px;
  margin: auto;
}

.editDeckButton-container{
  width: 100%;  
  text-align:center;
  padding: 1% 0 1%;
}

.editDeckButton{
  font-size: 25px;
  border-radius: 10px;
  padding: 0.5%;
}

.edit-container{
  height: 100%;
}

.edit-labels{
  color: white;
  font-size: 20px;
  word-spacing: 5px;
  width:3%;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotate(180deg)
}

.available-cards{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cards-container{
  margin: auto;
  height: 25%;
  display:flex;
  width: 100%;
}

.card{
  height: 100%;
  width: 15%;
  margin-right: 1%;
  text-align: center;
  border: solid 5px;
  background-color: rgb(145,70,0);
  border-radius: 5%;
  display: flex;
  transition: all .5s ease-in-out;
} 

.card:hover{
  transform: scale(1.2)
}

.card-face{
  margin:auto;
  height:90%;
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-name{
  height: 10%;
  background-color: rgba(222,184,135, .5);
  margin-bottom:15%;
  border-radius: 5px;
  padding: 2px;
}

.card-img{
  height: 4rem;
  margin-bottom:15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: solid black 2px;
  border-radius: 5%;
  background-color: rgb(128, 130, 132)
}

.card-description{
  height: 3rem;
  background-color: rgba(222,184,135, .5);
  border-radius: 5px;
  padding: 2px;
  display: flex;
}

.card-description-text{
  margin: auto;
}

.selected-card{
  height: 100%;
  border: solid yellow 5px;
  background-color: rgb(145,70,0);
  border-radius: 5%;
  width: 15%;
  margin-right: 1%;
  text-align: center;
  display: flex;
} 

.selected-card:hover{
  border: solid green 5px;
} 

.selected-card-name{
  height: 10%;
  background-color: rgba(222,184,135, .5);
  border-radius: 5px;
  font-size: 20px;
}

.selected-card-img{
  height: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.selected-card-description{
  height: 10%;
  background-color: rgba(222,184,135, .5);
  border-radius: 5px;
  font-size: 20px;
}

.card-back{
  height: 100%;
  width: 20%;
  margin: 0 1% 0 1%;
  background-image: url('./images/cardBack.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: solid black 3px;
  border-radius: 5px;
  width: 20%;
  background-color:rgb(150,30,30);
}

.edit-card-container{
  display: flex;
  height: 100%;
  width:100%;
  justify-content: space-around;
}

.edit-card-left{
  width: 70%;
}

.edit-card-right{
  height: 55%;
  width: 20%;
  text-align: center;
  border: solid 5px;
  background-color: rgb(145,70,0);
  border-radius: 5%;
  display: flex;
}

.deck-editor{
  margin: auto;
  height: 25%;
  display:flex;
  margin-top: 2%;
}

.instructions{
  display: flex;
  margin-top: 4%;
}

.instructions-text{
  color: whitesmoke;
  font-size: 20px;
}

.details{
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detail-name{
  background-color: rgba(222,184,135, .5);
  border-radius: 5px;
  font-size: 20px;
}

.detail-img{
  height: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: solid black 3px;
  border-radius: 5%;
  background-color: slategray
}

.detail-description{
  height: 8rem;
  background-color: rgba(222,184,135, .5);
  border-radius: 5px;
  font-size: 20px;
}

.game-screen{
  height: 100%;
  background-image: url('./images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover  ;
}

.game-mat{
  height: 50%;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom:1%;
  padding-top: 1%;
}

.detail-container{
  width: 18%;
  border: solid 5px;
  background-color: rgb(145,70,0);
  border-radius: 5%;
  display: flex;
}

.game-mat-right{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border:solid;
  background-color: rgba(75,75,130,0.8);
}

.main-menu-btn{
  width: 30%;
  margin: auto;
  margin-bottom: 0;
  float: top;
  font-size: 15px;
  border-radius: 5px;
}

.graveyard-details{
  height: 30%;
  width: 90%;
  display: flex;
  margin: auto;
  border: solid;
  background-color: rgb(175,175,230)
}

.graveyard-labels{
  font-size: 15px;
  word-spacing: 5px;
  width:7.5%;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotate(180deg);
}

.graveyardCard{
  width: 15%;
  margin: 1%;
  border: solid 3px;
  background-color: rgb(145,70,0);
  border-radius: 5%;
  display: flex;
}

.enemy-data{
  width: 40%;
  border:solid;
  background-color: rgba(75,75,130,0.8);
}

.enemy-hand{
  margin-top:1%;
  height: 70%;
  display: flex;
  justify-content: center;
  width: 90%;
}

.enemy-img{
  height: 40%;
  width: 30%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.enemy-stats{
  height: 40%;
  width: 80%;
  margin: auto;
  padding-top: 0.75%;
}

.enemy-hp{
  background-color: black;
  width: 50%;
  margin: auto;
  margin-bottom: 2%;
}

.enemy-blood{
  background-color: red;
  font-weight: bold;
  padding-top: 5px;
  transition: width 0.15s;
}

.enemy-deck{
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.graveyard-length{
  margin: auto;
  font-weight: bold;
}

.player-container{
  width: 97.7%;
  height: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid;
  background-color: rgba(75,75,130,0.8);
}

.player-stats{
  height: 10%;
  width: 80%;
  margin:auto;
  display: flex;
}

.player-hp{
  margin: auto;
  background-color: black;
  height: 100%;
  width: 100%;
  text-align: center;
}

.player-blood{
  background-color: red;
  display:flex;
  height:100%;
  transition: width 0.15s;
}

.hp{
  margin: auto;
  font-weight: bold;
  color: black;
}

.player-cards-container{
  display: flex;
  flex-direction: row;
  height: 80%;
}

.player-hand{
  height: 80%;
  width: 65%;
  margin:auto;
  display: flex;
  text-align: center;
}

.graveyard-container{
  height: 80%;
  width: 13%;
  margin:auto;
  display:flex; 
  align-items: center;
}

.graveyard{
  height: 100%;
  width: 80%;
  margin:auto;
  color: white;
  text-align: center;
  display: flex;
  background-image: url('./images/cardBack.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  transition: all .5s ease-in-out;
  border: solid black 5px;
  border-radius: 5%;
  background-color: rgb(30,30,180)
}

.graveyard:hover{
  transform: scale(1.1)
}

.click-graveyard{
  height: 100%;
  width: 80%;
  color: white;
  margin:auto;
  background-image: url('./images/cardBack.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  animation: blinker 1s infinite;
  border: solid black 5px;
  border-radius: 5%;
  background-color: rgb(30,30,180)
}

.click-graveyard:hover{
  border: solid yellow 5px;
}

@keyframes blinker {
  50% {
    transform: scale(1.1)
  }
}